version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/public:/srv/frontend/public
      - ./frontend/src:/srv/frontend/src
      - ./frontend/package.json:/srv/frontend/package.json
      - ./frontend/package-lock.json:/srv/frontend/package-lock.json
      - ./frontend/.eslintrc.json:/srv/frontend/.eslintrc.json
    restart: always
    command: bash -c "npm install && npm start"
    networks: 
      - projeto-fullstack
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: backend
    ports: 
      - "3001:3001"
    volumes:
      - ./backend/src:/srv/backend/src
      - ./backend/package.json:/srv/backend/package.json
      - ./backend/package-lock.json:/srv/backend/package-lock.json
      - ./backend/.eslintrc.json:/srv/backend/.eslintrc.json
    restart: always
    command: bash -c "npm install && npm run dev"
    networks: 
      - projeto-fullstack

networks:
  projeto-fullstack:
    driver: bridge
    name: projeto-fullstack